name: Ubuntu_CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 7 * * *'

jobs:
  build_test_jammy:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        cc: [gcc-10, gcc-11, gcc-12, clang-13, clang-14, clang-15]
    steps:
     - name: checkout
       uses: actions/checkout@v4
     - name: setup
       run: sudo ./setup/ubuntu/22.04/install_prereqs.sh
     - name: build and test
       run: |
         CC=${{ matrix.cc }} bazel test //... \
         -c dbg \
         --test_output=errors \
         --verbose_failures

  build_test_noble:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        cc: [gcc-12, gcc-13, gcc-14, clang-16, clang-17, clang-18]
    steps:
     - name: checkout
       uses: actions/checkout@v4
     - name: setup
       run: sudo ./setup/ubuntu/24.04/install_prereqs.sh
     - name: build and test
       run: |
         CC=${{ matrix.cc }} bazel test //... \
         -c dbg \
         --test_output=errors \
         --verbose_failures

  ubsan:
    runs-on: ubuntu-24.04
    steps:
     - name: checkout
       uses: actions/checkout@v4
     - name: setup
       run: sudo ./setup/ubuntu/24.04/install_prereqs.sh
     - name: build and test
       run: |
         CC=clang-18 bazel test //... \
           -c dbg \
           --config ubsan \
           --test_output=errors \
           --test_tag_filters=-no_ubsan \
           --verbose_failures

  asan:
    runs-on: ubuntu-24.04
    steps:
     - name: checkout
       uses: actions/checkout@v4
     - name: setup
       run: sudo ./setup/ubuntu/24.04/install_prereqs.sh
     - name: build and test
       run: |
         CC=clang-18 bazel test //... \
           -c dbg \
           --config asan \
           --test_output=errors \
           --test_tag_filters=-no_asan \
           --verbose_failures
